html, body{
    height: 100%;
    width: 100%;
}

body {
    padding: 2%;
}

.main-wraper {
    background-color: darkturquoise;
    height: 100%;
    width: 100%;
    border: 4px solid darkcyan;
    padding:2%;
}

.wrapper-2{
    background-color:white;
    height:100%;
    width:100%;
    padding:2%;
}

.wrapper-2-1 {
    background-color: aquamarine;
    border: 4px solid darkcyan;
    width: 100%;
    height: 40%;
    padding: 2%;
}


.wrapper-2-1-1{
    background-color:white;
    width: 20%;
    height: 100%;
    display: inline-block;
    margin-left:4%;
    padding:2%;
}

.wrapper-2-1-1-1{
    background-color:teal;
    height:100%;
    width:100%;
}
.wrapper-2-2 {
    position: relative;
    background-color: aquamarine;
    border: 4px solid darkcyan;
    width: 100%;
    height: 55%;
    margin-top: 2%;
    padding: 2%;
}
.wrapper-2-2-1 {
    width:70%;
    height:100%;
   
}

.wrapper-2-2-1:nth-child(1){
    position:absolute;
    left:0;
    background-color:aqua;
    z-index:0;
}
.wrapper-2-2-1:nth-child(2) {
    position:absolute;
    right:0;
    background-color:aquamarine;
    z-index:1;
}
.wrapper-2-2-1:nth-child(1):hover{
    z-index:3;
}